/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

footer {
    background-color: $ecc-blue;
    padding-top: 40px;

    .nav-row {
        margin-bottom: 15px;
    }

    .world-img {
        width: 100%;
    }

    fieldset {
        a {
            color: $ecc-blue-med;
            display: block;

            &:hover {
                color: $ecc-orange;
                text-decoration: none;
            }
        }

        > legend {
            border-bottom-color: $ecc-white;
            color: $ecc-white;
            font-weight: 400;
            text-align: left;
        }
    }

    .credit-row {
        border-top: 1px solid $ecc-white;
        color: $ecc-white;
        font-size: 13px;
        line-height: 25px;
        margin-top: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        text-align: center;

        a {
            color: $ecc-white;

            &:active,
            &:hover {
                color: $ecc-white;
                text-decoration: none;
            }
        }

        .brand {
            left: 5px;
            position: absolute;

            > a {
                font-size: 14px;
                font-weight: 700;

                > img {
                    height: 25px;
                    margin-right: 10px;
                }
            }
        }

        .copyright,
        .copyright > a {
            font-family: "Open Sans", sans-serif;
        }

        .copyright {
            margin: auto;
        }

        .social-icons {
            position: absolute;
            right: 5px;

            > a {
                margin-left: 5px;

                > img {
                    height: 25px;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    footer {
        .credit-row {
            .brand {
                display: none;
            }

            .social-icons {
                margin-bottom: 10px;
                position: relative;
                width: 100%;

                > a > img {
                    height: 35px;
                }
            }
        }
    }
}