/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

 @mixin white-header {
    background-color: $ecc-white;
    border-bottom: 1px solid $ecc-grey-light;

    a {
        color: $ecc-grey;
        transition: color .25s linear;

        &:hover {
            color: $ecc-orange;
        }
    }

    .navbar-brand {
        color: $ecc-grey;
    }
 }

 %white-header {
     @include white-header;
 }

header {
    border: 0;
    color: $ecc-white;
    position: fixed;
    transition: background-color .25s linear, border-color .25s linear;
    width: 100%;
    z-index: 1000;

    .announcements {
        background: rgba(255, 255, 255, .35);
        padding: 5px;
        font-size: 14px;
        margin-bottom: 0;

        a {
            color: $ecc-orange;
            font-weight: bold;
        }
    }

    #header-logo-color {
        display: none;
    }

    #header-logo-white {
        display: inline;
    }

    #mobile-nav-toggle {
        color: $ecc-blue-grey;
        display: none;
        position: fixed;
    }

    .navbar-expand {
        padding-bottom: 1px;
        padding-top: 1px;
    }

    a {
        cursor: pointer;
        color: $ecc-white;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;

        &:hover {
            color: $ecc-white;
            text-decoration: none;
        }
    }

    .navbar-brand {
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 700;

        > img {
            height: 50px;
            width: 50px;
        }
    }

    #navbar-menu {
        height: 64px;
        line-height: 64px;

        > ul > li {
            > a {
                padding: 20px 15px;
            }

            > .dropdown-menu {
                line-height: 24px;
                margin-top: -4px;
                padding-bottom: 0;
                padding-top: 0;
                width: 200px;

                > li {
                    border-bottom: 1px solid $ecc-grey-light;
                    text-align: right;

                    > a {
                        color: $ecc-grey;
                        display: inline-block;
                        padding: 10px;
                        width: 100%;
                    }

                    &:first-child {
                        border-top: 4px solid $ecc-orange;
                    }

                    &:hover {
                        border-bottom: 4px solid $ecc-orange;
                        color: $ecc-orange;
                        transition: border-bottom-width .25s linear;
                    }
                }
            }

            &.active > a,
            &.active-no-hover > a, {
                font-weight: 700;
            }

            &.active > a,
            &:hover > a {
                border-bottom: 4px solid $ecc-orange;
            }

            &:hover > a {
                transition: border-bottom-width .25s linear;
            }
        }
    }

    &.scrolled {
        @extend %white-header;

        background-color: $ecc-white !important;
        border-bottom: 1px solid $ecc-grey-light !important;

        .announcements {
            background: $ecc-grey-light;
            color: #000;
        }

        #header-logo-color {
            display: inline !important;
        }

        #header-logo-white {
            display: none !important;
        }
    }
}

#mobile-navbar-menu {
    background: $ecc-white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 10px 5px $ecc-blue-grey;
    display: none;
    max-height: 400px;
    overflow-y: scroll;
    padding: 0 30px 30px;
    position: fixed;
    left: 50%;
    top: 63px;
    transform: translateX(-50%);
    z-index: 10;
    
    a {
        border-bottom: 1px solid $ecc-grey-light;
        color: $ecc-blue-grey;
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        padding: 15px;
        width: 100%;

        &.active,
        &.collapsible:not(.collapsed) {
            border-bottom: 4px solid $ecc-orange;
            font-weight: bold;
        }

        &.collapsible::after {
            content: '\f054';
            font-family: FontAwesome;
            float: right;
            transition: transform .25s linear;
        }

        &.collapsible:not(.collapsed)::after {
            transform: rotate(90deg);
        }

        &:hover {
            border-bottom: 4px solid $ecc-orange;
            text-decoration: none;
            transition: border-bottom-width .25s linear;
        }
    }

    .collapse {
        padding-left: 15px;
    }
}

.no-scroll header {
    background-color: $ecc-blue;
    border: 0;
}

.page-light header {
    @extend %white-header;

    background-color: transparent;
    border-bottom: 0;

    .announcements {
        background: $ecc-grey-light;
        color: #000;
    }

    #header-logo-color {
        display: inline !important;
    }

    #header-logo-white {
        display: none !important;
    }
}

@media (min-width: 992px) {
    #mobile-navbar-menu {
        display: none !important;
    }
}

@media (max-width: 992px) {
    %white-header-sm {
        @include white-header;
    }

    .page-light header {
        @extend %white-header-sm;

        background-color: $ecc-white !important;
        border-bottom: 1px solid $ecc-grey-light !important;
    }

    header {
        @extend %white-header-sm;

        .announcements {
            background: $ecc-grey-light;
            color: #000;
        }

        #mobile-nav-toggle {
            cursor: pointer;
            display: block;
            float: left;
        }

        .navbar-header {
            margin: auto !important;
        }

        #navbar-menu {
            display: none !important;
        }

        #header-logo-color {
            display: inline !important;
        }

        #header-logo-white {
            display: none !important;
        }
    }
}