/**
 * ecc.network
 *
 * @copyright Project ECC
 */

#what-is-ecc-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/what_is_ecc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;

    h1 {
        margin-bottom: 30px;
    }

    #ecc-description-container {
        height: 190px;
        margin-bottom: 15px;
        overflow-y: hidden;
        text-align: justify;

        > #ecc-description {
            color: $ecc-white;
            font-weight: 300;
            padding-left: 0;
        }

        > #ecc-read-more-trigger {
            text-align: right;
        }
    }
}

#multi-chain-container {
    background-image: url('/website/assets/img/background/multi_chain_bottom.png');
    background-color: $ecc-grey-light;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    #multi-chain-animation {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #multi-chain-more-btn {
        margin-top: 30px;
    }
}

#initial-services-container {
    .initial-services-list > div {
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 40px;
        padding-bottom: 40px;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

#timeline-container {
    background-image: url('/website/assets/img/background/timeline.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        margin-bottom: 60px;
        text-align: center;
    }

    .table th, .table td {
        border-bottom: 0;
        border-top: 0;
        color: white;
        vertical-align: middle;
    }

    .table th {
        text-align: center;
        text-decoration: underline;
    }

    .table td {
        &:first-of-type {
            text-align: center;
            width: 45px;
        }

        &.status-label {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;

            &.status-label-success {
                color: green;
            }
        }
    }

    #timeline-description {
        color: $ecc-white;
        margin-bottom: 60px;
    }
}

#download-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/download_wallet.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 120px;

    .wallet-img > img {
        height: 400px;
    }

    .wallet-text {
        margin-left: -60px;
        margin-top: 50px;

        > h2 {
            font-size: 40px;
        }
    }
}

#learn-container {
    background-color: #EEEEEE;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;

    > img {
        display: inline-block;
        height: 100px;
        margin-right: 10px;
        margin-top: -90px;
    }

    > h2 {
        display: inline-block;
    }
}

#join-container {
    font-size: 18px;
    text-align: center;

    .col-sm-6:first-of-type {
        border-right: 2px solid #e7e7e7;
    }

    .focus-flash {
        box-shadow: 0 0 25px $ecc-orange;
    }
}

@media (max-width: 1200px) {
    #what-is-ecc-container {
        #ecc-description-container {
            height: 180px;
        }
    }
}

@media (max-width: 992px) {
    #download-container {
        .wallet-text {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    #initial-services-container .row {
        text-align: center;

        .animation {
            margin: 0 auto 30px;
            width: 50%;
        }
    }

    #timeline-container {
        #timeline {
            .timeline-previous-container {
                padding-left: 0;
            }

            .timeline-next-container {
                padding-right: 0;
            }
        }
    }

    #download-container {
        padding-left: 0;

        .wallet-img > img {
            height: auto;
            width: 100%;
        }

        .wallet-text {
            margin-left: 0;
        }
    }

    #learn-container {
        img {
            height: 60px;
            margin-top: -45px;
        }

        h2 {
            font-size: 30px;
        }
    }
}

@media (max-width: 576px) {
    #timeline-container {
        #timeline {
            padding: 0 15px;

            .timeline-previous-container {
                padding-right: 0;
            }

            .timeline-next-container {
                padding-left: 0;
            }
        }
    }
}
