{% include _header.html %}

<section id="wallet-container">
	<div class="container">
        <h1 class="fade-in">Wallets</h1>
	</div>
</section>

<section id="app-download-container" class="container text-center">
	<h2 class="section-title">Download Electrum-ECC</h2>
	<br><br>
	<p>If you only want to send and receive ECC <strong>this is the wallet you are looking for!</strong></p>
	<p>The Electrum-ECC wallet is a so-called <em>light</em> wallet. It connects to ECC full nodes in the internet and uses the <a href="https://bitcoin.org/en/glossary/simplified-payment-verification" target="_blank">Simple Payment Verification Protocol (SPV)</a>, well known from Bitcoin, to safely send and verify transactions.<br/>
	Thus, you don't need to download the whole blockchain and are immediatly ready to make ECC transactions!</p>
	<p>
		Please report any issues with Electrum-ECC to the Electrum-ECC github issues area: <a href="https://github.com/project-ecc/electrum-ecc/issues" target="_blank">https://github.com/project-ecc/electrum-ecc/issues</a>
	</p>
	<br>
	<div class="tab-content">
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6-ecc-windows-setup.exe" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Windows Installer (64-bit)
			</a>
			<a href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6-ecc-windows-portable.exe" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Windows Portable (64-bit)
			</a>
		</div>
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6.0-android-debug.apk" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Android
			</a>
		</div>
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/electrum-ecc/releases/download/3.3.6-ecc/electrum-ecc-3.3.6-ecc-linux-x86_64.AppImage" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (64-bit)
			</a>
		</div>
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/lynx/releases/latest/" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> MacOS (10.12+) [NOT YET AVAILABLE]
			</a>
		</div>
	</div>
</section>

<section id="app-download-container" class="container text-center">
	<h2 class="section-title">Download ECC CLI Daemon</h2>
	<br><br>
	<p>If you are a command line junkie or you want to run a "headless" ECC full node (e.g. for staking or providing Electrum-ECC nodes), <strong>this is your way to go!</strong></p>
	<p>
		<br>
		Please report any issues with Daemon to the eccoin github issues area: <a href="https://gitlab.com/project-ecc/eccoin/issues" target="_blank">https://github.com/project-ecc/eccoin/issues</a>
	</p>
	<br>
	<div class="tab-content">
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-win32.zip" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Windows (32-bit)
			</a>
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-win64.zip" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Windows (64-bit)
			</a>
		</div>

		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-osx64.tar.gz" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> MacOS (10.12+)
			</a>
		</div>

		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-linux32.tar.gz" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (x86-32-bit)
			</a>
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-linux64.tar.gz" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (x86-64-bit)
			</a>
		</div>

		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-arm32.tar.gz" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (ARM-32-bit)
			</a>
			<a href="https://github.com/project-ecc/eccoin/releases/download/eccoin0.3.0.0/eccoin-0.3.0.0-arm64.tar.gz" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (ARM-64-bit)
			</a>
		</div>

	</div>
</section>

<section id="app-download-container" class="container text-center">
	<h2 class="section-title">Download Lynx</h2>
	<br><br>
	<p>Lynx is the ECC Wallet UI. It uses the ECC CLI Daemon (see above) and builds a user friendly interface on top of it.</p>
	<p>If you want to run a ECC full node but want or need a userfriendly interface, <strong>this is what you want!</strong></p>
	<p>
		<br>
		Please report any issues with Lynx to the Lynx github issues area: <a href="https://github.com/project-ecc/Lynx/issues" target="_blank">https://github.com/project-ecc/Lynx/issues</a>
	</p>
	<br>
	<div class="tab-content">
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx-0.2.6-i386.AppImage" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (32-bit)
			</a>
			<a href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx-0.2.6-x86_64.AppImage" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Linux (64-bit)
			</a>
		</div>
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx-0.2.6-mac.zip" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> MacOS (10.12+)
			</a>
		</div>
		<div id="" class="tab-pane">
			<a href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx.Setup.0.2.6-win32.exe" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Windows (32-bit)
			</a>
			<a href="https://github.com/project-ecc/lynx/releases/latest/download/Lynx.Setup.0.2.6-win64.exe" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Windows (64-bit)
			</a>
		</div>
	</div>
</section>

{% include _footer.html %}
<script src="{{ "/assets/js/downloads/sapphire.js" | prepend: site.baseurl }}"></script>
